# Feature Engineering

In [1]:
import numpy as np
import pandas as pd

## FRED

In [20]:
# federal reserve economic data (fred)
from fredapi import Fred
fred = Fred(api_key_file='private/fred_api_key.txt')
test = fred.get_series('CUSR0000SETA01')

In [21]:
test.head()

1953-01-01    46.3
1953-02-01    46.8
1953-03-01    46.9
1953-04-01    47.3
1953-05-01    47.5
dtype: float64

In [24]:
fred.search('unemployment')

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
UNRATE,UNRATE,2023-02-03,2023-02-03,Unemployment Rate,1948-01-01,2023-01-01,Monthly,M,Percent,%,Seasonally Adjusted,SA,2023-02-03 07:44:02-06:00,94,The unemployment rate represents the number of...
UNRATENSA,UNRATENSA,2023-02-03,2023-02-03,Unemployment Rate,1948-01-01,2023-01-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-02-03 07:43:02-06:00,57,The unemployment rate represents the number of...
CCSA,CCSA,2023-02-03,2023-02-03,Continued Claims (Insured Unemployment),1967-01-07,2023-01-21,"Weekly, Ending Saturday",W,Number,Number,Seasonally Adjusted,SA,2023-02-02 11:36:03-06:00,73,"Continued claims, also referred to as insured ..."
NROU,NROU,2023-02-03,2023-02-03,Noncyclical Rate of Unemployment,1949-01-01,2032-10-01,Quarterly,Q,Percent,%,Not Seasonally Adjusted,NSA,2022-05-26 13:45:04-05:00,67,"Starting with the July, 2021 report: An Update..."
UNEMPLOY,UNEMPLOY,2023-02-03,2023-02-03,Unemployment Level,1948-01-01,2023-01-01,Monthly,M,Thousands of Persons,Thous. of Persons,Seasonally Adjusted,SA,2023-02-03 07:44:05-06:00,69,The series comes from the 'Current Population ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WICH620UR,WICH620UR,2023-02-03,2023-02-03,"Unemployment Rate in Wichita, KS (MSA)",1990-01-01,2022-12-01,Monthly,M,Percent,%,Smoothed Seasonally Adjusted,SSA,2023-02-01 13:32:05-06:00,8,None
LEXI421URN,LEXI421URN,2023-02-03,2023-02-03,"Unemployment Rate in Lexington-Fayette, KY (MSA)",1990-01-01,2022-12-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-02-01 10:07:10-06:00,8,None
SAND706URN,SAND706URN,2023-02-03,2023-02-03,"Unemployment Rate in San Diego-Carlsbad, CA (MSA)",1990-01-01,2022-12-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-02-01 10:07:10-06:00,8,None
SYRA036URN,SYRA036URN,2023-02-03,2023-02-03,"Unemployment Rate in Syracuse, NY (MSA)",1990-01-01,2022-12-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-02-01 10:07:11-06:00,8,None
BUFF336URN,BUFF336URN,2023-02-03,2023-02-03,Unemployment Rate in Buffalo-Cheektowaga-Niaga...,1990-01-01,2022-12-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-02-01 10:07:09-06:00,8,None

## uszipcode
- https://pypi.org/project/uszipcode/#the-data-point
- https://uszipcode.readthedocs.io/01-Usage-Example/index.html

In [2]:
# zipcode / census data
import uszipcode

In [15]:
from uszipcode import SearchEngine

# use simple search
sr = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.simple)

y = sr.by_zipcode(37209)
print(y)

SimpleZipcode(zipcode='37209', zipcode_type='STANDARD', major_city='Nashville', post_office_city='Nashville, TN', common_city_list=['Nashville'], county='Davidson County', state='TN', lat=36.19, lng=-86.95, timezone='America/Chicago', radius_in_miles=7.0, area_code_list='615', population=35457, population_density=976.0, land_area_in_sqmi=36.33, water_area_in_sqmi=1.1, housing_units=15648, occupied_housing_units=14130, median_home_value=170000, median_household_income=43625, bounds_west=-86.995828, bounds_east=-86.808173, bounds_north=36.209566, bounds_south=36.080921)

In [16]:
from uszipcode import SearchEngine

# use comprehensive search
sr = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.comprehensive)

z = sr.by_zipcode(37209)
print(z)

ComprehensiveZipcode(zipcode='37209', zipcode_type='STANDARD', major_city='Nashville', post_office_city='Nashville, TN', common_city_list=['Nashville'], county='Davidson County', state='TN', lat=36.19, lng=-86.95, timezone='America/Chicago', radius_in_miles=7.0, area_code_list='615', population=35457, population_density=976.0, land_area_in_sqmi=36.33, water_area_in_sqmi=1.1, housing_units=15648, occupied_housing_units=14130, median_home_value=170000, median_household_income=43625, bounds_west=-86.995828, bounds_east=-86.808173, bounds_north=36.209566, bounds_south=36.080921, polygon=[[[-86.922643, 36.111294], [-86.922625, 36.111096], [-86.922614, 36.110974], [-86.922612, 36.110948], [-86.922582, 36.110603], [-86.922576, 36.110534], [-86.922573, 36.110502], [-86.922571, 36.110465], [-86.922564, 36.110384], [-86.922559, 36.110312], [-86.92255, 36.110221], [-86.922548, 36.110169], [-86.922537, 36.110022], [-86.922523, 36.109837], [-86.922373, 36.109872], [-86.922225, 36.109945], [-86.922104, 36.110051], [-86.922098, 36.110058], [-86.922042, 36.110127], [-86.921799, 36.110469], [-86.921656, 36.110643], [-86.921464, 36.110908], [-86.920979, 36.11158], [-86.920412, 36.112367], [-86.919593, 36.111693], [-86.915231, 36.110207], [-86.917442, 36.098434], [-86.919977, 36.093915], [-86.920466, 36.093839], [-86.92221, 36.092382], [-86.922549, 36.092106], [-86.922423, 36.092], [-86.921878, 36.091576], [-86.921844, 36.091546], [-86.921715, 36.091434], [-86.921543, 36.09127], [-86.921379, 36.091087], [-86.92128, 36.09096], [-86.921191, 36.090828], [-86.921033, 36.09055], [-86.920964, 36.090403], [-86.92088, 36.090178], [-86.920872, 36.09013], [-86.921081, 36.090107], [-86.921179, 36.090149], [-86.921621, 36.090723], [-86.92189, 36.09098], [-86.922607, 36.091573], [-86.922682, 36.091625], [-86.926814, 36.088928], [-86.926952, 36.088638], [-86.927088, 36.088298], [-86.927237, 36.088017], [-86.927474, 36.08749], [-86.927745, 36.086946], [-86.927867, 36.086665], [-86.927975, 36.086457], [-86.928063, 36.086248], [-86.928117, 36.086072], [-86.928212, 36.085797], [-86.928266, 36.085616], [-86.928327, 36.085368], [-86.928361, 36.085209], [-86.928381, 36.085083], [-86.928422, 36.084967], [-86.928483, 36.084841], [-86.928625, 36.084253], [-86.928632, 36.084154], [-86.928605, 36.084066], [-86.928558, 36.083956], [-86.928537, 36.083895], [-86.928524, 36.083835], [-86.928537, 36.083725], [-86.928591, 36.083626], [-86.928618, 36.083591], [-86.928707, 36.083478], [-86.928774, 36.083346], [-86.928849, 36.083247], [-86.928883, 36.083071], [-86.92893, 36.08289], [-86.928957, 36.082697], [-86.929052, 36.082346], [-86.929045, 36.082219], [-86.929045, 36.08201], [-86.929032, 36.081829], [-86.928964, 36.081455], [-86.928917, 36.081279], [-86.928869, 36.08118], [-86.928849, 36.081071], [-86.928793, 36.080921], [-86.92906, 36.08105], [-86.929093, 36.081066], [-86.929464, 36.081179], [-86.929926, 36.081254], [-86.93022, 36.081303], [-86.930601, 36.081409], [-86.930702, 36.081438], [-86.930996, 36.081615], [-86.931326, 36.081891], [-86.931532, 36.082125], [-86.931534, 36.082127], [-86.931794, 36.082423], [-86.932144, 36.08287], [-86.932553, 36.08339], [-86.932831, 36.083702], [-86.933051, 36.083893], [-86.933312, 36.084101], [-86.933336, 36.084121], [-86.933572, 36.084266], [-86.933768, 36.084438], [-86.933998, 36.084782], [-86.93416, 36.085154], [-86.934236, 36.085328], [-86.93448, 36.085615], [-86.934826, 36.08592], [-86.934973, 36.086017], [-86.935148, 36.086107], [-86.9353, 36.086172], [-86.935391, 36.086206], [-86.935553, 36.086255], [-86.935976, 36.086343], [-86.93617, 36.086379], [-86.936315, 36.086407], [-86.936654, 36.086484], [-86.936955, 36.086608], [-86.936838, 36.086745], [-86.936814, 36.086774], [-86.936506, 36.087172], [-86.936396, 36.087315], [-86.936252, 36.087487], [-86.936192, 36.087561], [-86.936033, 36.087778], [-86.935856, 36.088032], [-86.935766, 36.088164], [-86.935734, 36.088221], [-86.935585, 36.088428], [-86.935537, 36.088496], [-86.935294, 36.088872], [-86.935177, 36.089076], [-86.935051, 36.089299], [-86.934977, 36.089415], [-86.934884, 36.089596], [-86.934802, 36.089768], [-86.934666, 36.090093], [-86.934639, 36.090164], [-86.934444, 36.090696], [-86.934328, 36.091069], [-86.934295, 36.091202], [-86.93416, 36.091692], [-86.933955, 36.092626], [-86.933926, 36.092857], [-86.933919, 36.092947], [-86.933916, 36.092987], [-86.933902, 36.093254], [-86.933914, 36.09358], [-86.933937, 36.093906], [-86.933959, 36.094216], [-86.933961, 36.094447], [-86.933925, 36.094763], [-86.93386, 36.095088], [-86.933798, 36.095261], [-86.933703, 36.095483], [-86.933507, 36.095946], [-86.933459, 36.096103], [-86.933076, 36.096904], [-86.932718, 36.097719], [-86.932279, 36.098901], [-86.932126, 36.099732], [-86.932047, 36.100019], [-86.932011, 36.100156], [-86.931921, 36.100379], [-86.931648, 36.100887], [-86.931273, 36.101428], [-86.931133, 36.101391], [-86.930854, 36.10128], [-86.930783, 36.101252], [-86.930648, 36.101176], [-86.930575, 36.10112], [-86.930274, 36.100852], [-86.930045, 36.100682], [-86.929791, 36.100511], [-86.929779, 36.100501], [-86.92975, 36.100477], [-86.92966, 36.100389], [-86.929474, 36.100179], [-86.929324, 36.100242], [-86.929287, 36.10025], [-86.929217, 36.100311], [-86.928816, 36.100902], [-86.928581, 36.101279], [-86.928514, 36.101367], [-86.92859, 36.101374], [-86.928836, 36.101401], [-86.92892, 36.101427], [-86.929023, 36.10146], [-86.929092, 36.101518], [-86.929122, 36.101592], [-86.929203, 36.101665], [-86.929385, 36.101719], [-86.929538, 36.101675], [-86.929695, 36.101586], [-86.929782, 36.101556], [-86.929935, 36.101504], [-86.930072, 36.101612], [-86.930006, 36.101606], [-86.929906, 36.101622], [-86.92987, 36.101632], [-86.929828, 36.101644], [-86.929721, 36.101691], [-86.929638, 36.101748], [-86.929591, 36.101785], [-86.9295, 36.101895], [-86.929471, 36.101938], [-86.929442, 36.101981], [-86.929422, 36.102022], [-86.929388, 36.102096], [-86.929349, 36.102213], [-86.929545, 36.102259], [-86.929862, 36.102334], [-86.93014, 36.102378], [-86.930236, 36.102394], [-86.93034, 36.102408], [-86.930475, 36.102426], [-86.930564, 36.102438], [-86.930742, 36.102431], [-86.930882, 36.102434], [-86.931019, 36.102437], [-86.93104, 36.102509], [-86.931067, 36.102595], [-86.931081, 36.102655], [-86.931102, 36.102726], [-86.931125, 36.102799], [-86.931237, 36.103171], [-86.931262, 36.103253], [-86.93128, 36.103352], [-86.931327, 36.103554], [-86.931353, 36.103787], [-86.931363, 36.104326], [-86.931366, 36.104453], [-86.931343, 36.104714], [-86.930998, 36.105016], [-86.9303, 36.105543], [-86.927111, 36.107954], [-86.927039, 36.108009], [-86.926048, 36.108758], [-86.92537, 36.109269], [-86.924885, 36.109636], [-86.923325, 36.110789], [-86.923164, 36.110909], [-86.922903, 36.111102], [-86.922643, 36.111294]]], population_by_year=[{'key': 'Data', 'values': [{'x': 2005, 'y': 26579}, {'x': 2006, 'y': 26813}, {'x': 2007, 'y': 28689}, {'x': 2008, 'y': 27868}, {'x': 2009, 'y': 29277}, {'x': 2010, 'y': 28941}, {'x': 2011, 'y': 29472}, {'x': 2012, 'y': 29470}, {'x': 2013, 'y': 29260}, {'x': 2014, 'y': 30020}, {'x': 2015, 'y': 30580}, {'x': 2016, 'y': 29230}, {'x': 2017, 'y': 29710}, {'x': 2018, 'y': 30750}]}], population_by_age=[{'key': 'Male', 'values': [{'x': 0, 'y': 1237}, {'x': 1, 'y': 871}, {'x': 2, 'y': 794}, {'x': 3, 'y': 1302}, {'x': 4, 'y': 1809}, {'x': 5, 'y': 2132}, {'x': 6, 'y': 1808}, {'x': 7, 'y': 1486}, {'x': 8, 'y': 1255}, {'x': 9, 'y': 1292}, {'x': 10, 'y': 1184}, {'x': 11, 'y': 994}, {'x': 12, 'y': 690}, {'x': 13, 'y': 457}, {'x': 14, 'y': 299}, {'x': 15, 'y': 233}, {'x': 16, 'y': 149}, {'x': 17, 'y': 89}]}, {'key': 'Female', 'values': [{'x': 0, 'y': 1046}, {'x': 1, 'y': 910}, {'x': 2, 'y': 728}, {'x': 3, 'y': 1573}, {'x': 4, 'y': 1954}, {'x': 5, 'y': 1978}, {'x': 6, 'y': 1537}, {'x': 7, 'y': 1158}, {'x': 8, 'y': 1016}, {'x': 9, 'y': 1088}, {'x': 10, 'y': 1055}, {'x': 11, 'y': 935}, {'x': 12, 'y': 728}, {'x': 13, 'y': 483}, {'x': 14, 'y': 388}, {'x': 15, 'y': 335}, {'x': 16, 'y': 247}, {'x': 17, 'y': 217}]}, {'key': 'Total', 'color': '#000000', 'values': [{'x': 0, 'y': 2283}, {'x': 1, 'y': 1781}, {'x': 2, 'y': 1522}, {'x': 3, 'y': 2875}, {'x': 4, 'y': 3763}, {'x': 5, 'y': 4110}, {'x': 6, 'y': 3345}, {'x': 7, 'y': 2644}, {'x': 8, 'y': 2271}, {'x': 9, 'y': 2380}, {'x': 10, 'y': 2239}, {'x': 11, 'y': 1929}, {'x': 12, 'y': 1418}, {'x': 13, 'y': 940}, {'x': 14, 'y': 687}, {'x': 15, 'y': 568}, {'x': 16, 'y': 396}, {'x': 17, 'y': 306}]}], population_by_gender=[{'key': 'Data', 'values': [{'x': 'Male', 'y': 18081}, {'x': 'Female', 'y': 17376}]}], population_by_race=[{'key': 'Data', 'values': [{'x': 'White', 'y': 21607}, {'x': 'Black Or African American', 'y': 9932}, {'x': 'American Indian Or Alaskan Native', 'y': 158}, {'x': 'Asian', 'y': 1621}, {'x': 'Native Hawaiian & Other Pacific Islander', 'y': 22}, {'x': 'Other Race', 'y': 1291}, {'x': 'Two Or More Races', 'y': 826}]}], head_of_household_by_age=[{'key': 'Owner', 'values': [{'x': 0, 'y': 119}, {'x': 1, 'y': 1198}, {'x': 2, 'y': 1190}, {'x': 3, 'y': 1345}, {'x': 4, 'y': 1310}, {'x': 5, 'y': 752}, {'x': 6, 'y': 577}, {'x': 7, 'y': 190}]}, {'key': 'Renter', 'values': [{'x': 0, 'y': 1222}, {'x': 1, 'y': 2463}, {'x': 2, 'y': 1376}, {'x': 3, 'y': 1224}, {'x': 4, 'y': 718}, {'x': 5, 'y': 281}, {'x': 6, 'y': 122}, {'x': 7, 'y': 43}]}, {'key': 'Total', 'color': '#000000', 'values': [{'x': 0, 'y': 1341}, {'x': 1, 'y': 3661}, {'x': 2, 'y': 2566}, {'x': 3, 'y': 2569}, {'x': 4, 'y': 2028}, {'x': 5, 'y': 1033}, {'x': 6, 'y': 699}, {'x': 7, 'y': 233}]}], families_vs_singles=[{'key': 'Data', 'values': [{'x': 'Husband Wife Family Households', 'y': 4365}, {'x': 'Single Guardian', 'y': 2893}, {'x': 'Singles', 'y': 5138}, {'x': 'Singles With Roommate', 'y': 1734}]}], households_with_kids=[{'key': 'Data', 'values': [{'x': 'Households Without Kids', 'y': 10462}, {'x': 'Households With Kids', 'y': 3668}]}], children_by_age=[{'key': 'Male', 'values': [{'x': 0, 'y': 239}, {'x': 1, 'y': 252}, {'x': 2, 'y': 224}, {'x': 3, 'y': 236}, {'x': 4, 'y': 191}, {'x': 5, 'y': 168}, {'x': 6, 'y': 155}, {'x': 7, 'y': 191}, {'x': 8, 'y': 166}, {'x': 9, 'y': 161}, {'x': 10, 'y': 163}, {'x': 11, 'y': 141}, {'x': 12, 'y': 151}, {'x': 13, 'y': 178}, {'x': 14, 'y': 142}, {'x': 15, 'y': 186}, {'x': 16, 'y': 160}, {'x': 17, 'y': 326}, {'x': 18, 'y': 488}, {'x': 19, 'y': 378}]}, {'key': 'Female', 'values': [{'x': 0, 'y': 231}, {'x': 1, 'y': 205}, {'x': 2, 'y': 203}, {'x': 3, 'y': 189}, {'x': 4, 'y': 194}, {'x': 5, 'y': 195}, {'x': 6, 'y': 184}, {'x': 7, 'y': 180}, {'x': 8, 'y': 157}, {'x': 9, 'y': 156}, {'x': 10, 'y': 143}, {'x': 11, 'y': 142}, {'x': 12, 'y': 145}, {'x': 13, 'y': 142}, {'x': 14, 'y': 148}, {'x': 15, 'y': 167}, {'x': 16, 'y': 160}, {'x': 17, 'y': 434}, {'x': 18, 'y': 664}, {'x': 19, 'y': 433}]}, {'key': 'Total', 'color': '#000000', 'values': [{'x': 0, 'y': 470}, {'x': 1, 'y': 457}, {'x': 2, 'y': 427}, {'x': 3, 'y': 425}, {'x': 4, 'y': 385}, {'x': 5, 'y': 363}, {'x': 6, 'y': 339}, {'x': 7, 'y': 371}, {'x': 8, 'y': 323}, {'x': 9, 'y': 317}, {'x': 10, 'y': 306}, {'x': 11, 'y': 283}, {'x': 12, 'y': 296}, {'x': 13, 'y': 320}, {'x': 14, 'y': 290}, {'x': 15, 'y': 353}, {'x': 16, 'y': 320}, {'x': 17, 'y': 760}, {'x': 18, 'y': 1152}, {'x': 19, 'y': 811}]}], housing_type=[{'key': 'Data', 'values': [{'x': 'In Occupied Housing Units', 'y': 31403}, {'x': 'Correctional Facility For Adults', 'y': 1930}, {'x': 'Juvenile Facilities', 'y': 0}, {'x': 'Nursing Facilities', 'y': 0}, {'x': 'Other Institutional', 'y': 0}, {'x': 'College Student Housing', 'y': 1814}, {'x': 'Military Quarters', 'y': 0}, {'x': 'Other Noninstitutional', 'y': 310}]}], year_housing_was_built=[{'key': 'Data', 'values': [{'x': '1939 Or Earlier', 'y': 1234}, {'x': '1940s', 'y': 1075}, {'x': '1950s', 'y': 2736}, {'x': '1960s', 'y': 2774}, {'x': '1970s', 'y': 2010}, {'x': '1980s', 'y': 2474}, {'x': '1990s', 'y': 1634}, {'x': '2000s', 'y': 1983}, {'x': '2010 Or Later', 'y': 29}]}], housing_occupancy=[{'key': 'Data', 'values': [{'x': 'Owned Households With A Mortgage', 'y': 4888}, {'x': 'Owned Households Free & Clear', 'y': 1793}, {'x': 'Renter Occupied Households', 'y': 7449}, {'x': 'Households Vacant', 'y': 1518}]}], vacancy_reason=[{'key': 'Data', 'values': [{'x': 'For Rent', 'y': 833}, {'x': 'Rented & Unoccupied', 'y': 49}, {'x': 'For Sale Only', 'y': 205}, {'x': 'Sold & Unoccupied', 'y': 38}, {'x': 'For Season Recreational Or Occasional Use', 'y': 70}, {'x': 'For Migrant Workers', 'y': 0}, {'x': 'Vacant For Other Reasons', 'y': 323}]}], owner_occupied_home_values=[{'key': 'Data', 'values': [{'x': '$1-$24,999', 'y': 86}, {'x': '$25,000-$49,999', 'y': 130}, {'x': '$50,000-$99,999', 'y': 878}, {'x': '$100,000-$149,999', 'y': 1323}, {'x': '$150,000-$199,999', 'y': 1478}, {'x': '$200,000-$399,999', 'y': 2017}, {'x': '$400,000-$749,999', 'y': 317}, {'x': '$750,000+', 'y': 67}]}], rental_properties_by_number_of_rooms=[{'key': 'Data', 'values': [{'x': 'Studio Apartment', 'y': 91}, {'x': '1 Bedroom', 'y': 1380}, {'x': '2 Bedroom', 'y': 4364}, {'x': '3+ Bedroom', 'y': 1495}]}], monthly_rent_including_utilities_studio_apt=[{'key': 'Data', 'values': [{'x': '< $200', 'y': 0}, {'x': '$200-$299', 'y': 33}, {'x': '$300-$499', 'y': 91}, {'x': '$500-$749', 'y': 628}, {'x': '$750-$999', 'y': 483}, {'x': '$1,000+', 'y': 109}]}], monthly_rent_including_utilities_1_b=[{'key': 'Data', 'values': [{'x': '< $200', 'y': 0}, {'x': '$200-$299', 'y': 24}, {'x': '$300-$499', 'y': 142}, {'x': '$500-$749', 'y': 1007}, {'x': '$750-$999', 'y': 1914}, {'x': '$1,000+', 'y': 1256}]}], monthly_rent_including_utilities_2_b=[{'key': 'Data', 'values': [{'x': '< $200', 'y': 0}, {'x': '$200-$299', 'y': 4}, {'x': '$300-$499', 'y': 149}, {'x': '$500-$749', 'y': 146}, {'x': '$750-$999', 'y': 252}, {'x': '$1,000+', 'y': 773}]}], monthly_rent_including_utilities_3plus_b=[{'key': 'Data', 'values': [{'x': '< $200', 'y': 0}, {'x': '$200-$299', 'y': 0}, {'x': '$300-$499', 'y': 55}, {'x': '$500-$749', 'y': 17}, {'x': '$750-$999', 'y': 19}, {'x': '$1,000+', 'y': 0}]}], employment_status=[{'key': 'Data', 'values': [{'x': 'Worked Full-time With Earnings', 'y': 12572}, {'x': 'Worked Part-time With Earnings', 'y': 8789}, {'x': 'No Earnings', 'y': 8720}]}], average_household_income_over_time=[{'key': 'Data', 'values': [{'x': 2005, 'y': 33805.5816}, {'x': 2006, 'y': 36390.3396}, {'x': 2007, 'y': 34694.2109}, {'x': 2008, 'y': 37724.0861}, {'x': 2009, 'y': 37114.9518}, {'x': 2010, 'y': 38334.5649}, {'x': 2011, 'y': 39168.4173}, {'x': 2012, 'y': 41527.0047}, {'x': 2013, 'y': 43849.9416}, {'x': 2014, 'y': 46819.0045}, {'x': 2015, 'y': 50716.1202}, {'x': 2016, 'y': 55758.566}, {'x': 2017, 'y': 60467.859}, {'x': 2018, 'y': 64586.8934}]}], household_income=[{'key': 'Data', 'values': [{'x': '< $25,000', 'y': 3477}, {'x': '$25,000-$44,999', 'y': 3645}, {'x': '$45,000-$59,999', 'y': 2031}, {'x': '$60,000-$99,999', 'y': 2444}, {'x': '$100,000-$149,999', 'y': 1169}, {'x': '$150,000-$199,999', 'y': 471}, {'x': '$200,000+', 'y': 389}]}], annual_individual_earnings=[{'key': 'Data', 'values': [{'x': '< $10,000', 'y': 4132}, {'x': '$10,000-$19,999', 'y': 4285}, {'x': '$20,000-$29,999', 'y': 3831}, {'x': '$30,000-$39,999', 'y': 2682}, {'x': '$40,000-$49,999', 'y': 2270}, {'x': '$50,000-$64,999', 'y': 1912}, {'x': '$65,000-$74,999', 'y': 441}, {'x': '$75,000-$99,999', 'y': 667}, {'x': '$100,000+', 'y': 1141}]}], sources_of_household_income____percent_of_households_receiving_income=[{'key': 'Data', 'values': [{'x': 'Wages', 'y': 88.4942}, {'x': 'Business', 'y': 21.0105}, {'x': 'Partnership', 'y': 4.1521}, {'x': 'Unemployment', 'y': 0.8504}]}], sources_of_household_income____average_income_per_household_by_income_source=[{'key': 'Data', 'values': [{'x': 'Wages', 'y': 58251.9503}, {'x': 'Business', 'y': 19799.2857}, {'x': 'Partnership', 'y': 43262.6506}, {'x': 'Unemployment', 'y': 4211.7647}]}], household_investment_income____percent_of_households_receiving_investment_income=[{'key': 'Data', 'values': [{'x': 'Interest', 'y': 22.5113}, {'x': 'Ordinary Dividends', 'y': 17.2086}, {'x': 'Qualified Dividends', 'y': 16.058}, {'x': 'Capital Gains', 'y': 15.2576}]}], household_investment_income____average_income_per_household_by_income_source=[{'key': 'Data', 'values': [{'x': 'Interest', 'y': 1084.8889}, {'x': 'Ordinary Dividends', 'y': 3537.7907}, {'x': 'Qualified Dividends', 'y': 2746.4174}, {'x': 'Capital Gains', 'y': 22159.3443}]}], household_retirement_income____percent_of_households_receiving_retirement_incom=[{'key': 'Data', 'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 11.6558}, {'x': 'Social Security', 'y': 6.003}]}], household_retirement_income____average_income_per_household_by_income_source=[{'key': 'Data', 'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 20988.412}, {'x': 'Social Security', 'y': 13546.6667}]}], source_of_earnings=[{'key': 'Data', 'values': [{'x': 'Worked Full-time With Earnings', 'y': 12572}, {'x': 'Worked Part-time With Earnings', 'y': 8789}, {'x': 'No Earnings', 'y': 8720}]}], means_of_transportation_to_work_for_workers_16_and_over=[{'key': 'Data', 'values': [{'x': 'Car, Truck, Or Van', 'y': 15820}, {'x': 'Public Transportation', 'y': 641}, {'x': 'Taxicab', 'y': 0}, {'x': 'Motorcycle', 'y': 20}, {'x': 'Bicycle, Walked, Or Other Means', 'y': 531}, {'x': 'Worked At Home', 'y': 848}]}], travel_time_to_work_in_minutes=[{'key': 'Data', 'values': [{'x': '< 10', 'y': 2282}, {'x': '10-19', 'y': 7053}, {'x': '20-29', 'y': 3449}, {'x': '30-39', 'y': 2621}, {'x': '40-44', 'y': 403}, {'x': '45-59', 'y': 625}, {'x': '60-89', 'y': 295}, {'x': '90+', 'y': 284}]}], educational_attainment_for_population_25_and_over=[{'key': 'Data', 'values': [{'x': 'Less Than High School Diploma', 'y': 4871}, {'x': 'High School Graduate', 'y': 9968}, {'x': "Associate's Degree", 'y': 1242}, {'x': "Bachelor's Degree", 'y': 5218}, {'x': "Master's Degree", 'y': 1843}, {'x': 'Professional School Degree', 'y': 618}, {'x': 'Doctorate Degree', 'y': 540}]}], school_enrollment_age_3_to_17=[{'key': 'Data', 'values': [{'x': 'Enrolled In Public School', 'y': 4190}, {'x': 'Enrolled In Private School', 'y': 414}, {'x': 'Not Enrolled In School', 'y': 614}]}])

In [17]:
z.source_of_earnings

[{'key': 'Data',
  'values': [{'x': 'Worked Full-time With Earnings', 'y': 12572},
   {'x': 'Worked Part-time With Earnings', 'y': 8789},
   {'x': 'No Earnings', 'y': 8720}]}]

In [19]:
z.to_dict()

{'zipcode': '37209',
 'zipcode_type': 'STANDARD',
 'major_city': 'Nashville',
 'post_office_city': 'Nashville, TN',
 'common_city_list': ['Nashville'],
 'county': 'Davidson County',
 'state': 'TN',
 'lat': 36.19,
 'lng': -86.95,
 'timezone': 'America/Chicago',
 'radius_in_miles': 7.0,
 'area_code_list': '615',
 'population': 35457,
 'population_density': 976.0,
 'land_area_in_sqmi': 36.33,
 'water_area_in_sqmi': 1.1,
 'housing_units': 15648,
 'occupied_housing_units': 14130,
 'median_home_value': 170000,
 'median_household_income': 43625,
 'bounds_west': -86.995828,
 'bounds_east': -86.808173,
 'bounds_north': 36.209566,
 'bounds_south': 36.080921,
 'polygon': [[[-86.922643, 36.111294],
   [-86.922625, 36.111096],
   [-86.922614, 36.110974],
   [-86.922612, 36.110948],
   [-86.922582, 36.110603],
   [-86.922576, 36.110534],
   [-86.922573, 36.110502],
   [-86.922571, 36.110465],
   [-86.922564, 36.110384],
   [-86.922559, 36.110312],
   [-86.92255, 36.110221],
   [-86.922548, 36.110169],
   [-86.922537, 36.110022],
   [-86.922523, 36.109837],
   [-86.922373, 36.109872],
   [-86.922225, 36.109945],
   [-86.922104, 36.110051],
   [-86.922098, 36.110058],
   [-86.922042, 36.110127],
   [-86.921799, 36.110469],
   [-86.921656, 36.110643],
   [-86.921464, 36.110908],
   [-86.920979, 36.11158],
   [-86.920412, 36.112367],
   [-86.919593, 36.111693],
   [-86.915231, 36.110207],
   [-86.917442, 36.098434],
   [-86.919977, 36.093915],
   [-86.920466, 36.093839],
   [-86.92221, 36.092382],
   [-86.922549, 36.092106],
   [-86.922423, 36.092],
   [-86.921878, 36.091576],
   [-86.921844, 36.091546],
   [-86.921715, 36.091434],
   [-86.921543, 36.09127],
   [-86.921379, 36.091087],
   [-86.92128, 36.09096],
   [-86.921191, 36.090828],
   [-86.921033, 36.09055],
   [-86.920964, 36.090403],
   [-86.92088, 36.090178],
   [-86.920872, 36.09013],
   [-86.921081, 36.090107],
   [-86.921179, 36.090149],
   [-86.921621, 36.090723],
   [-86.92189, 36.09098],
   [-86.922607, 36.091573],
   [-86.922682, 36.091625],
   [-86.926814, 36.088928],
   [-86.926952, 36.088638],
   [-86.927088, 36.088298],
   [-86.927237, 36.088017],
   [-86.927474, 36.08749],
   [-86.927745, 36.086946],
   [-86.927867, 36.086665],
   [-86.927975, 36.086457],
   [-86.928063, 36.086248],
   [-86.928117, 36.086072],
   [-86.928212, 36.085797],
   [-86.928266, 36.085616],
   [-86.928327, 36.085368],
   [-86.928361, 36.085209],
   [-86.928381, 36.085083],
   [-86.928422, 36.084967],
   [-86.928483, 36.084841],
   [-86.928625, 36.084253],
   [-86.928632, 36.084154],
   [-86.928605, 36.084066],
   [-86.928558, 36.083956],
   [-86.928537, 36.083895],
   [-86.928524, 36.083835],
   [-86.928537, 36.083725],
   [-86.928591, 36.083626],
   [-86.928618, 36.083591],
   [-86.928707, 36.083478],
   [-86.928774, 36.083346],
   [-86.928849, 36.083247],
   [-86.928883, 36.083071],
   [-86.92893, 36.08289],
   [-86.928957, 36.082697],
   [-86.929052, 36.082346],
   [-86.929045, 36.082219],
   [-86.929045, 36.08201],
   [-86.929032, 36.081829],
   [-86.928964, 36.081455],
   [-86.928917, 36.081279],
   [-86.928869, 36.08118],
   [-86.928849, 36.081071],
   [-86.928793, 36.080921],
   [-86.92906, 36.08105],
   [-86.929093, 36.081066],
   [-86.929464, 36.081179],
   [-86.929926, 36.081254],
   [-86.93022, 36.081303],
   [-86.930601, 36.081409],
   [-86.930702, 36.081438],
   [-86.930996, 36.081615],
   [-86.931326, 36.081891],
   [-86.931532, 36.082125],
   [-86.931534, 36.082127],
   [-86.931794, 36.082423],
   [-86.932144, 36.08287],
   [-86.932553, 36.08339],
   [-86.932831, 36.083702],
   [-86.933051, 36.083893],
   [-86.933312, 36.084101],
   [-86.933336, 36.084121],
   [-86.933572, 36.084266],
   [-86.933768, 36.084438],
   [-86.933998, 36.084782],
   [-86.93416, 36.085154],
   [-86.934236, 36.085328],
   [-86.93448, 36.085615],
   [-86.934826, 36.08592],
   [-86.934973, 36.086017],
   [-86.935148, 36.086107],
   [-86.9353, 36.086172],
   [-86.935391, 36.086206],
   [-86.935553, 36.086255],
   [-86.935976, 36.086343],
   [-86.93617, 36.086379],
   [-86.936315, 36.086407],
   [-86.936654, 36.086484],
   [-86.936955, 36.086608],
   [-86.936838, 36.086745],
   [-86.936814, 36.086774],
   [-86.936506, 36.087172],
   [-86.936396, 36.087315],
   [-86.936252, 36.087487],
   [-86.936192, 36.087561],
   [-86.936033, 36.087778],
   [-86.935856, 36.088032],
   [-86.935766, 36.088164],
   [-86.935734, 36.088221],
   [-86.935585, 36.088428],
   [-86.935537, 36.088496],
   [-86.935294, 36.088872],
   [-86.935177, 36.089076],
   [-86.935051, 36.089299],
   [-86.934977, 36.089415],
   [-86.934884, 36.089596],
   [-86.934802, 36.089768],
   [-86.934666, 36.090093],
   [-86.934639, 36.090164],
   [-86.934444, 36.090696],
   [-86.934328, 36.091069],
   [-86.934295, 36.091202],
   [-86.93416, 36.091692],
   [-86.933955, 36.092626],
   [-86.933926, 36.092857],
   [-86.933919, 36.092947],
   [-86.933916, 36.092987],
   [-86.933902, 36.093254],
   [-86.933914, 36.09358],
   [-86.933937, 36.093906],
   [-86.933959, 36.094216],
   [-86.933961, 36.094447],
   [-86.933925, 36.094763],
   [-86.93386, 36.095088],
   [-86.933798, 36.095261],
   [-86.933703, 36.095483],
   [-86.933507, 36.095946],
   [-86.933459, 36.096103],
   [-86.933076, 36.096904],
   [-86.932718, 36.097719],
   [-86.932279, 36.098901],
   [-86.932126, 36.099732],
   [-86.932047, 36.100019],
   [-86.932011, 36.100156],
   [-86.931921, 36.100379],
   [-86.931648, 36.100887],
   [-86.931273, 36.101428],
   [-86.931133, 36.101391],
   [-86.930854, 36.10128],
   [-86.930783, 36.101252],
   [-86.930648, 36.101176],
   [-86.930575, 36.10112],
   [-86.930274, 36.100852],
   [-86.930045, 36.100682],
   [-86.929791, 36.100511],
   [-86.929779, 36.100501],
   [-86.92975, 36.100477],
   [-86.92966, 36.100389],
   [-86.929474, 36.100179],
   [-86.929324, 36.100242],
   [-86.929287, 36.10025],
   [-86.929217, 36.100311],
   [-86.928816, 36.100902],
   [-86.928581, 36.101279],
   [-86.928514, 36.101367],
   [-86.92859, 36.101374],
   [-86.928836, 36.101401],
   [-86.92892, 36.101427],
   [-86.929023, 36.10146],
   [-86.929092, 36.101518],
   [-86.929122, 36.101592],
   [-86.929203, 36.101665],
   [-86.929385, 36.101719],
   [-86.929538, 36.101675],
   [-86.929695, 36.101586],
   [-86.929782, 36.101556],
   [-86.929935, 36.101504],
   [-86.930072, 36.101612],
   [-86.930006, 36.101606],
   [-86.929906, 36.101622],
   [-86.92987, 36.101632],
   [-86.929828, 36.101644],
   [-86.929721, 36.101691],
   [-86.929638, 36.101748],
   [-86.929591, 36.101785],
   [-86.9295, 36.101895],
   [-86.929471, 36.101938],
   [-86.929442, 36.101981],
   [-86.929422, 36.102022],
   [-86.929388, 36.102096],
   [-86.929349, 36.102213],
   [-86.929545, 36.102259],
   [-86.929862, 36.102334],
   [-86.93014, 36.102378],
   [-86.930236, 36.102394],
   [-86.93034, 36.102408],
   [-86.930475, 36.102426],
   [-86.930564, 36.102438],
   [-86.930742, 36.102431],
   [-86.930882, 36.102434],
   [-86.931019, 36.102437],
   [-86.93104, 36.102509],
   [-86.931067, 36.102595],
   [-86.931081, 36.102655],
   [-86.931102, 36.102726],
   [-86.931125, 36.102799],
   [-86.931237, 36.103171],
   [-86.931262, 36.103253],
   [-86.93128, 36.103352],
   [-86.931327, 36.103554],
   [-86.931353, 36.103787],
   [-86.931363, 36.104326],
   [-86.931366, 36.104453],
   [-86.931343, 36.104714],
   [-86.930998, 36.105016],
   [-86.9303, 36.105543],
   [-86.927111, 36.107954],
   [-86.927039, 36.108009],
   [-86.926048, 36.108758],
   [-86.92537, 36.109269],
   [-86.924885, 36.109636],
   [-86.923325, 36.110789],
   [-86.923164, 36.110909],
   [-86.922903, 36.111102],
   [-86.922643, 36.111294]]],
 'population_by_year': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 26579},
    {'x': 2006, 'y': 26813},
    {'x': 2007, 'y': 28689},
    {'x': 2008, 'y': 27868},
    {'x': 2009, 'y': 29277},
    {'x': 2010, 'y': 28941},
    {'x': 2011, 'y': 29472},
    {'x': 2012, 'y': 29470},
    {'x': 2013, 'y': 29260},
    {'x': 2014, 'y': 30020},
    {'x': 2015, 'y': 30580},
    {'x': 2016, 'y': 29230},
    {'x': 2017, 'y': 29710},
    {'x': 2018, 'y': 30750}]}],
 'population_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 1237},
    {'x': 1, 'y': 871},
    {'x': 2, 'y': 794},
    {'x': 3, 'y': 1302},
    {'x': 4, 'y': 1809},
    {'x': 5, 'y': 2132},
    {'x': 6, 'y': 1808},
    {'x': 7, 'y': 1486},
    {'x': 8, 'y': 1255},
    {'x': 9, 'y': 1292},
    {'x': 10, 'y': 1184},
    {'x': 11, 'y': 994},
    {'x': 12, 'y': 690},
    {'x': 13, 'y': 457},
    {'x': 14, 'y': 299},
    {'x': 15, 'y': 233},
    {'x': 16, 'y': 149},
    {'x': 17, 'y': 89}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 1046},
    {'x': 1, 'y': 910},
    {'x': 2, 'y': 728},
    {'x': 3, 'y': 1573},
    {'x': 4, 'y': 1954},
    {'x': 5, 'y': 1978},
    {'x': 6, 'y': 1537},
    {'x': 7, 'y': 1158},
    {'x': 8, 'y': 1016},
    {'x': 9, 'y': 1088},
    {'x': 10, 'y': 1055},
    {'x': 11, 'y': 935},
    {'x': 12, 'y': 728},
    {'x': 13, 'y': 483},
    {'x': 14, 'y': 388},
    {'x': 15, 'y': 335},
    {'x': 16, 'y': 247},
    {'x': 17, 'y': 217}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 2283},
    {'x': 1, 'y': 1781},
    {'x': 2, 'y': 1522},
    {'x': 3, 'y': 2875},
    {'x': 4, 'y': 3763},
    {'x': 5, 'y': 4110},
    {'x': 6, 'y': 3345},
    {'x': 7, 'y': 2644},
    {'x': 8, 'y': 2271},
    {'x': 9, 'y': 2380},
    {'x': 10, 'y': 2239},
    {'x': 11, 'y': 1929},
    {'x': 12, 'y': 1418},
    {'x': 13, 'y': 940},
    {'x': 14, 'y': 687},
    {'x': 15, 'y': 568},
    {'x': 16, 'y': 396},
    {'x': 17, 'y': 306}]}],
 'population_by_gender': [{'key': 'Data',
   'values': [{'x': 'Male', 'y': 18081}, {'x': 'Female', 'y': 17376}]}],
 'population_by_race': [{'key': 'Data',
   'values': [{'x': 'White', 'y': 21607},
    {'x': 'Black Or African American', 'y': 9932},
    {'x': 'American Indian Or Alaskan Native', 'y': 158},
    {'x': 'Asian', 'y': 1621},
    {'x': 'Native Hawaiian & Other Pacific Islander', 'y': 22},
    {'x': 'Other Race', 'y': 1291},
    {'x': 'Two Or More Races', 'y': 826}]}],
 'head_of_household_by_age': [{'key': 'Owner',
   'values': [{'x': 0, 'y': 119},
    {'x': 1, 'y': 1198},
    {'x': 2, 'y': 1190},
    {'x': 3, 'y': 1345},
    {'x': 4, 'y': 1310},
    {'x': 5, 'y': 752},
    {'x': 6, 'y': 577},
    {'x': 7, 'y': 190}]},
  {'key': 'Renter',
   'values': [{'x': 0, 'y': 1222},
    {'x': 1, 'y': 2463},
    {'x': 2, 'y': 1376},
    {'x': 3, 'y': 1224},
    {'x': 4, 'y': 718},
    {'x': 5, 'y': 281},
    {'x': 6, 'y': 122},
    {'x': 7, 'y': 43}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 1341},
    {'x': 1, 'y': 3661},
    {'x': 2, 'y': 2566},
    {'x': 3, 'y': 2569},
    {'x': 4, 'y': 2028},
    {'x': 5, 'y': 1033},
    {'x': 6, 'y': 699},
    {'x': 7, 'y': 233}]}],
 'families_vs_singles': [{'key': 'Data',
   'values': [{'x': 'Husband Wife Family Households', 'y': 4365},
    {'x': 'Single Guardian', 'y': 2893},
    {'x': 'Singles', 'y': 5138},
    {'x': 'Singles With Roommate', 'y': 1734}]}],
 'households_with_kids': [{'key': 'Data',
   'values': [{'x': 'Households Without Kids', 'y': 10462},
    {'x': 'Households With Kids', 'y': 3668}]}],
 'children_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 239},
    {'x': 1, 'y': 252},
    {'x': 2, 'y': 224},
    {'x': 3, 'y': 236},
    {'x': 4, 'y': 191},
    {'x': 5, 'y': 168},
    {'x': 6, 'y': 155},
    {'x': 7, 'y': 191},
    {'x': 8, 'y': 166},
    {'x': 9, 'y': 161},
    {'x': 10, 'y': 163},
    {'x': 11, 'y': 141},
    {'x': 12, 'y': 151},
    {'x': 13, 'y': 178},
    {'x': 14, 'y': 142},
    {'x': 15, 'y': 186},
    {'x': 16, 'y': 160},
    {'x': 17, 'y': 326},
    {'x': 18, 'y': 488},
    {'x': 19, 'y': 378}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 231},
    {'x': 1, 'y': 205},
    {'x': 2, 'y': 203},
    {'x': 3, 'y': 189},
    {'x': 4, 'y': 194},
    {'x': 5, 'y': 195},
    {'x': 6, 'y': 184},
    {'x': 7, 'y': 180},
    {'x': 8, 'y': 157},
    {'x': 9, 'y': 156},
    {'x': 10, 'y': 143},
    {'x': 11, 'y': 142},
    {'x': 12, 'y': 145},
    {'x': 13, 'y': 142},
    {'x': 14, 'y': 148},
    {'x': 15, 'y': 167},
    {'x': 16, 'y': 160},
    {'x': 17, 'y': 434},
    {'x': 18, 'y': 664},
    {'x': 19, 'y': 433}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 470},
    {'x': 1, 'y': 457},
    {'x': 2, 'y': 427},
    {'x': 3, 'y': 425},
    {'x': 4, 'y': 385},
    {'x': 5, 'y': 363},
    {'x': 6, 'y': 339},
    {'x': 7, 'y': 371},
    {'x': 8, 'y': 323},
    {'x': 9, 'y': 317},
    {'x': 10, 'y': 306},
    {'x': 11, 'y': 283},
    {'x': 12, 'y': 296},
    {'x': 13, 'y': 320},
    {'x': 14, 'y': 290},
    {'x': 15, 'y': 353},
    {'x': 16, 'y': 320},
    {'x': 17, 'y': 760},
    {'x': 18, 'y': 1152},
    {'x': 19, 'y': 811}]}],
 'housing_type': [{'key': 'Data',
   'values': [{'x': 'In Occupied Housing Units', 'y': 31403},
    {'x': 'Correctional Facility For Adults', 'y': 1930},
    {'x': 'Juvenile Facilities', 'y': 0},
    {'x': 'Nursing Facilities', 'y': 0},
    {'x': 'Other Institutional', 'y': 0},
    {'x': 'College Student Housing', 'y': 1814},
    {'x': 'Military Quarters', 'y': 0},
    {'x': 'Other Noninstitutional', 'y': 310}]}],
 'year_housing_was_built': [{'key': 'Data',
   'values': [{'x': '1939 Or Earlier', 'y': 1234},
    {'x': '1940s', 'y': 1075},
    {'x': '1950s', 'y': 2736},
    {'x': '1960s', 'y': 2774},
    {'x': '1970s', 'y': 2010},
    {'x': '1980s', 'y': 2474},
    {'x': '1990s', 'y': 1634},
    {'x': '2000s', 'y': 1983},
    {'x': '2010 Or Later', 'y': 29}]}],
 'housing_occupancy': [{'key': 'Data',
   'values': [{'x': 'Owned Households With A Mortgage', 'y': 4888},
    {'x': 'Owned Households Free & Clear', 'y': 1793},
    {'x': 'Renter Occupied Households', 'y': 7449},
    {'x': 'Households Vacant', 'y': 1518}]}],
 'vacancy_reason': [{'key': 'Data',
   'values': [{'x': 'For Rent', 'y': 833},
    {'x': 'Rented & Unoccupied', 'y': 49},
    {'x': 'For Sale Only', 'y': 205},
    {'x': 'Sold & Unoccupied', 'y': 38},
    {'x': 'For Season Recreational Or Occasional Use', 'y': 70},
    {'x': 'For Migrant Workers', 'y': 0},
    {'x': 'Vacant For Other Reasons', 'y': 323}]}],
 'owner_occupied_home_values': [{'key': 'Data',
   'values': [{'x': '$1-$24,999', 'y': 86},
    {'x': '$25,000-$49,999', 'y': 130},
    {'x': '$50,000-$99,999', 'y': 878},
    {'x': '$100,000-$149,999', 'y': 1323},
    {'x': '$150,000-$199,999', 'y': 1478},
    {'x': '$200,000-$399,999', 'y': 2017},
    {'x': '$400,000-$749,999', 'y': 317},
    {'x': '$750,000+', 'y': 67}]}],
 'rental_properties_by_number_of_rooms': [{'key': 'Data',
   'values': [{'x': 'Studio Apartment', 'y': 91},
    {'x': '1 Bedroom', 'y': 1380},
    {'x': '2 Bedroom', 'y': 4364},
    {'x': '3+ Bedroom', 'y': 1495}]}],
 'monthly_rent_including_utilities_studio_apt': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 33},
    {'x': '$300-$499', 'y': 91},
    {'x': '$500-$749', 'y': 628},
    {'x': '$750-$999', 'y': 483},
    {'x': '$1,000+', 'y': 109}]}],
 'monthly_rent_including_utilities_1_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 24},
    {'x': '$300-$499', 'y': 142},
    {'x': '$500-$749', 'y': 1007},
    {'x': '$750-$999', 'y': 1914},
    {'x': '$1,000+', 'y': 1256}]}],
 'monthly_rent_including_utilities_2_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 4},
    {'x': '$300-$499', 'y': 149},
    {'x': '$500-$749', 'y': 146},
    {'x': '$750-$999', 'y': 252},
    {'x': '$1,000+', 'y': 773}]}],
 'monthly_rent_including_utilities_3plus_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 55},
    {'x': '$500-$749', 'y': 17},
    {'x': '$750-$999', 'y': 19},
    {'x': '$1,000+', 'y': 0}]}],
 'employment_status': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 12572},
    {'x': 'Worked Part-time With Earnings', 'y': 8789},
    {'x': 'No Earnings', 'y': 8720}]}],
 'average_household_income_over_time': [{'key': 'Data',
   'values': [{'x': 2005, 'y': 33805.5816},
    {'x': 2006, 'y': 36390.3396},
    {'x': 2007, 'y': 34694.2109},
    {'x': 2008, 'y': 37724.0861},
    {'x': 2009, 'y': 37114.9518},
    {'x': 2010, 'y': 38334.5649},
    {'x': 2011, 'y': 39168.4173},
    {'x': 2012, 'y': 41527.0047},
    {'x': 2013, 'y': 43849.9416},
    {'x': 2014, 'y': 46819.0045},
    {'x': 2015, 'y': 50716.1202},
    {'x': 2016, 'y': 55758.566},
    {'x': 2017, 'y': 60467.859},
    {'x': 2018, 'y': 64586.8934}]}],
 'household_income': [{'key': 'Data',
   'values': [{'x': '< $25,000', 'y': 3477},
    {'x': '$25,000-$44,999', 'y': 3645},
    {'x': '$45,000-$59,999', 'y': 2031},
    {'x': '$60,000-$99,999', 'y': 2444},
    {'x': '$100,000-$149,999', 'y': 1169},
    {'x': '$150,000-$199,999', 'y': 471},
    {'x': '$200,000+', 'y': 389}]}],
 'annual_individual_earnings': [{'key': 'Data',
   'values': [{'x': '< $10,000', 'y': 4132},
    {'x': '$10,000-$19,999', 'y': 4285},
    {'x': '$20,000-$29,999', 'y': 3831},
    {'x': '$30,000-$39,999', 'y': 2682},
    {'x': '$40,000-$49,999', 'y': 2270},
    {'x': '$50,000-$64,999', 'y': 1912},
    {'x': '$65,000-$74,999', 'y': 441},
    {'x': '$75,000-$99,999', 'y': 667},
    {'x': '$100,000+', 'y': 1141}]}],
 'sources_of_household_income____percent_of_households_receiving_income': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 88.4942},
    {'x': 'Business', 'y': 21.0105},
    {'x': 'Partnership', 'y': 4.1521},
    {'x': 'Unemployment', 'y': 0.8504}]}],
 'sources_of_household_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 58251.9503},
    {'x': 'Business', 'y': 19799.2857},
    {'x': 'Partnership', 'y': 43262.6506},
    {'x': 'Unemployment', 'y': 4211.7647}]}],
 'household_investment_income____percent_of_households_receiving_investment_income': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 22.5113},
    {'x': 'Ordinary Dividends', 'y': 17.2086},
    {'x': 'Qualified Dividends', 'y': 16.058},
    {'x': 'Capital Gains', 'y': 15.2576}]}],
 'household_investment_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 1084.8889},
    {'x': 'Ordinary Dividends', 'y': 3537.7907},
    {'x': 'Qualified Dividends', 'y': 2746.4174},
    {'x': 'Capital Gains', 'y': 22159.3443}]}],
 'household_retirement_income____percent_of_households_receiving_retirement_incom': [{'key': 'Data',
   'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 11.6558},
    {'x': 'Social Security', 'y': 6.003}]}],
 'household_retirement_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 20988.412},
    {'x': 'Social Security', 'y': 13546.6667}]}],
 'source_of_earnings': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 12572},
    {'x': 'Worked Part-time With Earnings', 'y': 8789},
    {'x': 'No Earnings', 'y': 8720}]}],
 'means_of_transportation_to_work_for_workers_16_and_over': [{'key': 'Data',
   'values': [{'x': 'Car, Truck, Or Van', 'y': 15820},
    {'x': 'Public Transportation', 'y': 641},
    {'x': 'Taxicab', 'y': 0},
    {'x': 'Motorcycle', 'y': 20},
    {'x': 'Bicycle, Walked, Or Other Means', 'y': 531},
    {'x': 'Worked At Home', 'y': 848}]}],
 'travel_time_to_work_in_minutes': [{'key': 'Data',
   'values': [{'x': '< 10', 'y': 2282},
    {'x': '10-19', 'y': 7053},
    {'x': '20-29', 'y': 3449},
    {'x': '30-39', 'y': 2621},
    {'x': '40-44', 'y': 403},
    {'x': '45-59', 'y': 625},
    {'x': '60-89', 'y': 295},
    {'x': '90+', 'y': 284}]}],
 'educational_attainment_for_population_25_and_over': [{'key': 'Data',
   'values': [{'x': 'Less Than High School Diploma', 'y': 4871},
    {'x': 'High School Graduate', 'y': 9968},
    {'x': "Associate's Degree", 'y': 1242},