# Test Join
We have enough to look at what we're going to have. Let's take a look!

In [2]:
import pandas as pd
import pyarrow as pa

In [3]:
# increase pandas display row limit
pd.set_option('display.max_rows', 100)

## Listings

In [20]:
mc = pd.read_parquet('part-00272-bbdecf64-de8c-4648-b96c-e44fb6cd17e1-c000.snappy.parquet', engine='pyarrow')
print(mc.shape)

(13819, 71)

For simplicity sake, I'm dropping additional registrations for the same VIN. In practice will need to do some kind of date precedent logic.

In [21]:
# deduplicate mc_tx by vin and keep the first record
mc = mc.drop_duplicates(subset='vin', keep='first')
print(mc.shape)

(13666, 71)

In [16]:
mc['state'].value_counts()

TX    8072
OH    3379
TN    2214
Name: state, dtype: int64

In [8]:
mc.sample(5).T

,5427,3594,8672,3492,5731
id,JM3KFBDM0J0392857-616741f4-f644,5TDYK3DC7FS545539-d4cc1f84-ad8e-418e-b164-8602...,WBA8E9C55GK646680-bf551e16-647e-44af-93d0-8f79...,5TDGZRBH5MS154153-5983ec16-b541,JN8AT2MT3HW399124-fa835b55-9439-46b2-8d0e-79d2...
vin,JM3KFBDM0J0392857,5TDYK3DC7FS545539,WBA8E9C55GK646680,5TDGZRBH5MS154153,JN8AT2MT3HW399124
heading,2018 Mazda CX-5 Grand Touring SUV,2015 TOYOTA SIENNA XLE PREM 8-PASS SUNROOF NAV...,2016 BMW 3 Series 328i Sedan,Certified Used 2021 Toyota Highlander XLE,Pre-Owned 2017 Nissan Rogue SV
price,22249.0,27730.0,20991.0,44669.0,20000.0
msrp,22249.0,NaN,20991.0,44995.0,20000.0
miles,40931.0,26112.0,38538.0,11580.0,23156.0
stock_no,20750PR,545539,GK646680,B-356,NP2411
year,2018.0,2015.0,2016.0,2021.0,2017.0
make,Mazda,Toyota,BMW,Toyota,Nissan
model,CX-5,Sienna,3 Series,Highlander,Rogue
trim,Grand Touring,XLE,328i,XLE,SV
vehicle_type,Truck,Truck,Car,Truck,Truck
body_type,SUV,Minivan,Sedan,SUV,SUV
body_subtype,None,None,None,None,None
drivetrain,4WD,FWD,RWD,4WD,FWD
fuel_type,Unleaded,Unleaded,Premium Unleaded,Unleaded,Unleaded
engine,2.5L I4,3.5L V6,2.0L I4,3.5L V6,2.5L I4
engine_block,I,V,I,V,I
engine_size,2.5,3.5,2,3.5,2.5
engine_measure,None,None,None,None,None
engine_aspiration,None,None,None,None,None
transmission,Automatic,Automatic,Automatic,Automatic,CVT
speeds,NaN,NaN,NaN,NaN,NaN
doors,5.0,5.0,4.0,5.0,5.0
cylinders,4.0,6.0,4.0,6.0,4.0
city_mpg,24.0,18.0,23.0,20.0,26.0
highway_mpg,30.0,25.0,35.0,27.0,33.0
interior_color,Black,Lt. Gray,VENETIAN BEIGE/DRK OYSTER,Black,Almond
exterior_color,Deep Crystal Blue Mica,Creme Brulee Mica,Jet Black,Gray,White
base_exterior_color,Blue,Beige,Black,Gray,White
base_interior_color,Black,Gray,Beige,Black,Brown
is_certified,NaN,NaN,0.0,1.0,0.0
is_transfer,NaN,NaN,NaN,NaN,NaN
taxonomy_vin,JM3KFBDMJ0,5TDYK3DCFS,WBA8E9C5GK,5TDGZRBHMS,JN8AT2MTHW
scraped_at,1575288384,1513387776,1564585388,1655398236,1567082096
status_date,1575550170,1513389056,1565454662,1655398236,1571578817
first_scraped_at,1572364188,None,1452409200,1631745800,1500703200
source,ganleyalfaromeoofbedford.com,texasdirectauto.com,www.genesisofsouthwesthouston.com,germaincars.com,www.wolfchasenissan.com
seller_name,Ganley Alfa Romeo Fiat of Bedford,texas direct auto,genesis of southwest houston,Germain Cars,wolfchase nissan
city,Bedford,Stafford,Houston,Columbus,Bartlett
state,OH,TX,TX,OH,TN
zip,44146,77477,77074,43219,38133
latitude,41.4007,29.620001,29.664499,40.056675,35.209
longitude,-81.549202,-95.559998,-95.551804,-82.917809,-89.791702
dealer_type,franchise,None,franchise,franchise,franchise
car_seller_name,Ganley Alfa Romeo FIAT of Bedford,None,None,None,None
car_city,None,None,None,None,None
car_state,None,None,None,None,None
car_zip,None,None,None,None,None
car_latitude,NaN,NaN,NaN,NaN,NaN
car_longitude,NaN,NaN,NaN,NaN,NaN
seller_comments,"2018 Mazda CX-5 Grand Touring Leather Seats, H...",None,We are excited to offer this 2016 BMW 3 Series...,Recent Arrival! CARFAX One-Owner. AWD. Odomete...,"ONE OWNER, CLEAN AUTOCHECK, HEATED SEATS, BACK..."
dom,38.0,4.0,154.0,34.0,68.0
dom_180,38.0,4.0,11.0,5.0,53.0
dom_active,38.0,4.0,11.0,5.0,53.0
currency_indicator,None,None,None,USD,None
miles_indicator,MILES,None,None,MILES,None
carfax_1_owner,0.0,NaN,0.0,1.0,0.0
carfax_clean_title,0.0,NaN,0.0,0.0,0.0
loan_term,NaN,NaN,NaN,NaN,NaN
loan_apr,NaN,NaN,NaN,NaN,NaN
l_down_pay,NaN,NaN,NaN,NaN,NaN
l_emi,NaN,NaN,NaN,NaN,NaN
f_down_pay,NaN,NaN,NaN,NaN,NaN
f_down_pay_per,NaN,NaN,NaN,NaN,NaN
f_emi,NaN,NaN,NaN,NaN,NaN
lease_term,NaN,NaN,NaN,NaN,NaN
photo_links_count,49,30,9,1,38
photo_main,True,False,True,True,False
listed_options,"[Speakers: 10, Alloy wheels, Engine horsepower...","[Power Side Doors, Power Door Locks, Audio Ste...","[Garage door transmitter, Alloy wheels, Engine...","[Alloy wheels, Front reading lights, Outside t...","[Radio: AM/FM/CD/AUX, Alloy wheels, Front read..."
hvf_options,"[[Coming Home Device, Adaptive Cruise Control,...","[[], []]","[[Coming Home Device, Keyless Entry/Locking, K...","[[Rear/Multi-Zone Air Conditioning, Power Clos...","[[Keyless Entry/Locking, Keyless Start/Remote ..."

## Texas

In [6]:
tx = pd.read_parquet('~/Projects/used_car_pricing/data/tx_mvr/tx_mvr_out.parquet', engine='pyarrow')
print(tx.shape)

In [11]:
tx.sample(5).T

,14587549,6907488,26004201,23129461,2554148
VIN,3KPF24AD6KE094957,1FTFW1CF8CKD85461,1C6RR6TT2KS509317,1FTFW1CT4DFD10529,5TFJU4GN8DX048182
SALE_DATE,'2019-08-07','2018-10-23','2022-04-14','2021-08-06','2018-02-20'
SALES_PRICE,18535.0,10000.0,NaN,NaN,23682.929688
ODOMETER_BRAND,A,A,A,A,A
ODOMETER_READING,99,178314,73478,152225,65221
DOCNO,05731543682250485,15232643394104017,20820044663115943,10149444412075223,22125043149140930
VEHYEAR,2019,2012,2019,2013,2013
MAKE,KIA,FORD,RAM,FORD,TOYT
MODEL,FOR,F15,150,F15,TAC
BODY_TYPE,4D,PK,PK,PK,PK
OWNERSHIP_CD,6,1,1,1,1
TTL_SIGNED_DATE,20190708,20180707,20220317,20210527,20180116
OWNER_ZIP,75062,79549,79549,77071,79602
OWNER_ZIP+4,NaN,NaN,NaN,NaN,NaN
RENEW_ZIP,NaN,NaN,NaN,NaN,NaN
RENEW_ZIP+4,NaN,NaN,NaN,NaN,NaN
RECONDITION_CD,NaN,NaN,1,NaN,NaN
SALVSTATECNTRY,NaN,NaN,NaN,NaN,NaN

In [18]:
# dedupe tx by vin and keep the first record
tx = tx.drop_duplicates(subset='VIN', keep='first')
print(tx.shape)

In [21]:
# join mc_tx and tx on vin = VIN
tx_match = mc.merge(tx, left_on='vin', right_on='VIN', how='inner')

In [23]:
# match rate
tx_match.shape[0] / mc[mc['state'] == 'TX'].shape[0]

0.8002973240832507

In [33]:
# save to parquet
tx_match.to_parquet('tx_match.parquet', engine='pyarrow')

## Ohio

In [6]:
oh = pd.read_parquet('~/Projects/used_car_pricing/data/oh_mvr/oh_mvr_out.parquet', engine='pyarrow')
print(oh.shape)

(28591523, 24)

In [7]:
oh.sample(5).T

,10095110,19745438,28092735,18340745,25077100
TitleNumber,2800818475,4806216486,906111381,3108875276,8100493555
IssueDate,2018-11-19 00:00:00,2022-01-11 00:00:00,2022-10-14 00:00:00,2020-02-06 00:00:00,2022-07-07 00:00:00
TitleStatus,ACTIVE,ACTIVE,INACTIVE,ACTIVE,INACTIVE
TitleType,ORIGINAL,ORIGINAL,ORIGINAL,ORIGINAL,ORIGINAL
VIN,1C4PJMCSXFW521538,1GR1A0621LW174726,1GCWGFFAXB1116313,1N4BA41E84C895433,1FT7W2B69KED22748
Year,2015,2020,2011,2004,2019
Make,JEEP,GREAT DANE TRAI,CHEVROLET,NISSAN,FORD
Model,CHEROKEE,---,--,MAXIMA,F250
BodyType,STATION WAGON,VAN,VAN,FOUR DOOR,PICKUP TRUCK
NewOrUsed,Used,Used,Used,Used,Used
Mileage,49194.0,NaN,188332.0,192601.0,60919.0
MileageBrand,ACTUAL,NaN,ACTUAL,NON-ACTUAL WARNING: ODOMETER DISCREPANCY,ACTUAL
MileageJustificationType,NaN,ODOMETER EXEMPT,NaN,NaN,NaN
NMVTISBrand1,NaN,NaN,NaN,NaN,NaN
NMVTISBrand2,NaN,NaN,NaN,NaN,NaN
NMVTISBrand3,NaN,NaN,NaN,NaN,NaN
PurchaseDate,2018-11-16 00:00:00,2022-01-06 00:00:00,2022-10-14 00:00:00,2020-01-17 00:00:00,2022-06-30 00:00:00
PurchasePrice,18891.0,0.0,0.0,1000.0,55390.191406
OwnerType,INDIVIDUAL,DEALER,DEALER,INDIVIDUAL,INDIVIDUAL
OwnerName,None,PRIDE TRUCK SALES LP,DIXIE AUTOMART LLC,None,None
PrevOwnerType,DEALER,COMPANY,DEALER,COMPANY,DEALER
PrevOwnerName,JUNCTION AUTO SALES INC,None,DIXIE AUTOMART LLC,None,STATEWIDE FORD LINCOLN MERCURY INC
CountyofResidence,TRUMBULL,LUCAS,BUTLER,BUTLER,VAN WERT
PreviousStateCode,OH,CA,OH,OH,OH

Ohio is unique in that they require registration of dealer-to-dealer transactions. Here I'm dropping dealer-to-dealer because it's not a transaction we're interested in, and it's not comparable to the data we have from the other states.

In [11]:
# filter out rows where both OwnerType = 'DEALER' and PrevOwnerType = 'DEALER'
oh = oh[~((oh['OwnerType'] == 'DEALER') & (oh['PrevOwnerType'] == 'DEALER'))]
print(oh.shape)

(25325711, 24)

In [13]:
# dedupe by vin and keep the first record
oh = oh.drop_duplicates(subset='VIN', keep='first')
print(oh.shape)

(12837148, 24)

In [17]:
# join on vin
oh_match = mc.merge(oh, left_on='vin', right_on='VIN', how='inner')

In [18]:
# match rate
oh_match.shape[0] / mc[mc['state'] == 'OH'].shape[0]

0.9446581828943474

In [19]:
# save to parquet
oh_match.to_parquet('oh_match.parquet', engine='pyarrow')

## Tennessee

In [22]:
tn = pd.read_parquet('~/Projects/used_car_pricing/data/tn_mvr/tn_mvr.parquet', engine='pyarrow')
print(tn.shape)

(9831774, 13)

In [23]:
tn.sample(5).T

,2621566,6912672,2206334,681427,8250810
vin,1JJV532D1NL306341,3MZBN1U75JM190168,1J4GK48K46W282715,1C6RR6MT5FS629598,VBKEXG400LM293799
price,0.0,17821.0,0.0,0.0,0.0
odometer_type,1,0,1,0,0
mileage,0,4,0,68401,1
county,Davidson,Lawrence,State,State,Fentress
zip,37209,38469,37355,37043,38553
model_year,2022,2018,2006,2015,2020
make,WANC,MAZD,JEEP,RAM,KTM
model,DVC,MZ3,LBY,150,VBK
vehicle_type,FREIGHT/SEMI TRAILER,AUTO,AUTO,TRUCK,MOTORCYCLE
new_used,N,N,U,U,N
title_issue_date,2021-10-26,2018-12-17,2022-11-10,2021-05-14,2021-07-09
purchase_date,2021-09-09,2018-12-04,2022-09-21,2020-06-13,2020-11-02

In [25]:
tn.columns = ['vin', 'price_tn', 'odometer_type_tn', 'mileage_tn', 'county_tn', 'zip_tn',
       'model_year_tn', 'make_tn', 'model_tn', 'vehicle_type_tn', 'new_used_tn',
       'title_issue_date_tn', 'purchase_date_tn']

In [26]:
# dedupe by vin and keep the first record
tn = tn.drop_duplicates(subset='vin', keep='first')
print(tn.shape)

(7558173, 13)

In [27]:
# join on vin
tn_match = mc.merge(tn, on='vin', how='inner')

In [28]:
# match rate
tn_match.shape[0] / mc[mc['state'] == 'TN'].shape[0]

0.6296296296296297

In [29]:
# save to parquet
tn_match.to_parquet('tn_match.parquet', engine='pyarrow')